.btn{
	display:inline-block;
	padding:6px 12px;
	margin:0;
	font-size:14px;
	font-weight:normal;
	line-height:1.4;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	border:1px solid transparent;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition:border .20s linear,color .20s linear,background-color .20s linear;
	transition:border .20s linear,color .20s linear,background-color .20s linear;
}
.btn + .btn{margin-left:10px!important;}
.btn:focus,.btn:active:focus,.btn.active:focus{
	outline:0;
	outline-offset:0;
}
.btn:hover,.btn:focus{
	text-decoration:none;
	outline:0;
	border:1px solid transparent;
}
.btn:active,.btn.active{
	-webkit-box-shadow:none;
	box-shadow:none;
}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn{
	pointer-events:none;
	cursor:not-allowed;
	opacity:0.65;
	filter:alpha(opacity=65);
	-webkit-box-shadow:none;
	box-shadow:none;
}
.btn-default{
	color:#000;
	background-color:#ccc;
}
.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{
	background-color:#ddd;
}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,
fieldset[disabled] .btn-default.active{
	color:#999;
	background-color:#ddd;
}
.btn-primary{
	background:#fff200;
	border-color:#fff200;
	color:#333;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{
	color:#333;
	background:#ff0;
	border:1px solid transparent;
}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active{
	background-color:#ff0;
	border-color:transparent;
	border:1px solid transparent;
}
.btn-success{
	color:#fff;
	background-color:#18ca6c;
}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success{
	color:#fff;
	background-color:#27dc7c;
}
.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active{
	background-color:#5fcd5f;
}
.btn-info{
	color:#fff;
	background-color:#428bca;
}
.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info{
	color:#fff;
	background-color:#4b98db;
}
.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active{
	background-color:#428bca;
}
.btn-link{
	font-weight:normal;
	color:#1c3f94;
	cursor:pointer;
}
.btn-link,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link{
	background-color:transparent;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active{border-color:transparent;}
.btn-link:hover,.btn-link:focus{
	text-decoration:underline;
	background-color:transparent;
}
.btn-link[disabled]:hover,fieldset[disabled] .btn-link:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:focus{
	color:#999;
	text-decoration:none;
}
.btn-lg{
	padding:10px 16px;
	font-size:18px;
	line-height:1.33;
}
.btn-sm{
	padding:5px 10px;
	font-size:12px;
	line-height:1.5;
}
.btn-xs{
	padding:1px 5px;
	font-size:12px;
	line-height:1.5;
}
.btn-block{
	display:block;
	width:100%;
	padding-right:0;
	padding-left:0;
	margin:10px 0;
}
.btn-block + .btn-block{margin:10px 0!important;}
/************************************************** Button Group ***************************************************/
.btn-group > .btn + .btn{margin-left:0px!important;}
