[class^="icon-"],[class*="icon-"],[class^="fa-"],[class*="fa-"]{
	color:inherit;
	margin:0 5px;
	padding:0;
	display:inline-block;
}
.x2{font-size:2em;}
.x3{font-size:3em;}
.x4{font-size:4em;}
.x5{font-size:5em;}
