.close{
	font-size:20px;
	line-height:1;
	font-weight:lighter;
	color:#333;
	opacity:1;
	filter:alpha(opacity=100);
}
.close:before{content:"\00d7";}
.close:hover,.close:focus{
	text-decoration:none;
	cursor:pointer;
	outline:0;
	opacity:1;
	filter:alpha(opacity=100);
}
button.close{
	padding:0;
	cursor:pointer;
	background:transparent;
	border:0;
	-webkit-appearance:none;
}
.clearfix.x2{margin:0 0 0.5em 0;}
.clearfix.x3{margin:0 0 1.0em 0;}
